@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers;
@section Styles {
    @Html.Raw($"<link rel='stylesheet' href='/css/authen.css' />")
}

<div class="d-flex justify-content-center">
    <div class="authenticate">
        <form asp-action="Login" asp-controller="Home" method="post">
            <h2>Login</h2>
            <div class="mt-3">
                <label for="email" class="form-label">Email</label>
                <div>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email" />
                </div>
                @ViewBag.emailErr
            </div>
            <div class="mt-3">
                <label for="pass" class="form-label">Password </label>
                <div>
                    <input type="password" class="form-control" name="password" id="pass" placeholder="Password" />
                </div>
                @ViewBag.passwordErr 
            </div>
            <div class="d-grid mt-3">
                <button class="btn btn-primary" type="submit">Log in</button>
            </div>
        </form>
    </div>
</div>




